<html>
    <head>
        <title>Inference Page</title>
    </head>
    <body>
        <h1>Inference Page</h1>
        <table>
        <tr>
            <th>
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            </th>
        </tr>
        <tr>
            <th>
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            </th>
        </tr>
        <tr>
            <th>
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            </th>
        </tr>
        <tr>
            <th>
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            <img src="{{ url_for('static', path='/cat.jpg') }}" style="width: 300px; height:auto;" alt="FastAPI">
            </th>
        </tr>
        </table>
    </div>
    </body>
</html>